* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.menu-list {
  font-size: 0;
}

.menu-list .menu-item {
  font-size: 1.6rem;
  display: inline-block;
  padding: 20px;
  background-color: aqua;
  color: rgb(224, 81, 15);
  border-left: 1px solid #f30707;
}

.menu-list li a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
.menu-list li:hover {
  background: #fff;
  color: #333;
  cursor: pointer;
}

.menu-list li:last-child {
  border-right: 1px solid #f30707;
}

.menu-list li::before {
  content: "\25B6";
}

.menu-list li:active {
  border: 1px solid red;
}

/* ----------Bai 2------- */
.form-contain {
  background-color: #9dd3d0;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 800px;
  margin: 60px auto;
  background: #9dd3d0;
  border-radius: 10px;
}

.form-contain h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 26px;
}

.form-group {
  margin: 20px 50px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.input-text {
  width: 300px;
  border: none;
}
.gender :first-child {
  display: block;
}
.gender label {
  display: inline-block;
}

img {
  width: 100px;
  border-radius: 50%;
}

.communication label {
  display: inline-block;
}

.submit {
  text-align: center;
}
.submit input {
  width: 200px;
  height: 50px;
}
.submit input:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.input-text:focus {
  /* background-color: rgb(87, 144, 151); */
  border: 4px solid rgb(0, 255, 200);
}

.input-text:invalid {
  border: 2px solid rgb(249, 29, 29);
}
.form-group label:has(+ input:required)::after {
  content: "*";
  color: RED;
}
